/*
Error: File to import not found or unreadable: bootstrap.
       Load path: /home/lg/Development/github/lgvo.github.io/src/bower_components/bootstrap-sass/assets/stylesheets
        on line 1 of ./sass/main.scss

1: @import "bootstrap";
2: 
3: $profile-color: darken($gray-lighter, 05%);
4: 
5: html, body {
6:     margin: 0;

Backtrace:
./sass/main.scss:1
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:45:in `import'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:278:in `render'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:418:in `run'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/base.rb:52:in `parse'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/lib64/ruby/gems/2.1.0/gems/sass-3.4.18/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap.\A        Load path: /home/lg/Development/github/lgvo.github.io/src/bower_components/bootstrap-sass/assets/stylesheets\A         on line 1 of ./sass/main.scss\A \A 1: @import \"bootstrap\";\A 2: \A 3: $profile-color: darken($gray-lighter, 05%);\A 4: \A 5: html, body {\A 6:     margin: 0;"; }
